@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-primary;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width: 992px) {
    .section-center{
        width: 95vw;
    }
}
.section{
    padding: 3rem 0;
}
@media screen and (min-width: 900px) {
    .section{
        padding: 5rem 0;
    }
}
.underline {
    width: 5rem;
    height: 0.25rem;
    margin-top: .75rem;
    background: #f02e5e;
    margin-right: auto;
    margin-left: auto;
}
.icon-project{
    height: 60px;
    width: 60px;
}

.border-6{
    border-width: 6px;
}

.letter-1{
    letter-spacing: 0.25rem;
}
.letter-2{
    letter-spacing: 0.1rem;
}

.md:text-40{
    font-size: 40px;
}

.project{
    transition: all 0.3s linear;
}
.project:hover{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    transform: translateY(-5px);
}
.underline-services {
    width: 3rem;
    height: 0.112rem;
}

.h-1{
    height: .25rem;
}

.image-jack{
    border-radius: 50%;
    width: 300px;
    object-fit: contain;
    border: 10px solid #ffffff;
}

.active-link-nav{
    color: #f02e5e !important;
}
